/*********************************************************************
 *                                                                   *
 * MODULE NAME :  cnrez.rc               			     *
 *                                                                   *
 * DESCRIPTION:                                                      *
 *                                                                   *
 *  Resource file for CNREZ.EXE.                                     *
 *                                                                   *
 *                                                                   *
 *********************************************************************/

#include <os2.h>
#include "cnrez.h"

ICON ICO_DOIT containr.ico

MENU ID_RESOURCES
{
    SUBMENU  "~Views", -1
    {
        MENUITEM "~Icon",             IDM_ICON
        MENUITEM "~Name/flowed",      IDM_NAME
        MENUITEM "~Tree/icon",        IDM_TREE
        MENUITEM "~Details",          IDM_DETAILS
        MENUITEM "T~ext/flowed",      IDM_TEXT
    }
}
